{% extends 'landing.html' %}

{% block content %}
<section class="w-full min-h-96 relative aspect-4 from-orange-600 to-orange-900 bg-gradient-to-t flex flex-col items-center justify-center text-white capitalize">
  {% comment %} <img src="" alt="" class="w-full h-full object-cover absolute brightness-50" /> {% endcomment %}
  <h2 class="text-xl md:text-4xl font-semibold z-10">explore, dive &</h2>
  <h2 class="text-2xl md:text-6xl font-bold z-10">sink in your imagination</h2>
</section>

<section class="w-full text-sm flex items-center justify-start whitespace-nowrap gap-4 overflow-auto px-[10%]">
  {% for category in categories %}
    <a href="{% url 'blogging:category-detail-view' category.id %}" class="transition-all hover:bg-orange-600 hover:text-white px-4">{{category.name}}</a>
  {% endfor %}
</section>

  <section class="w-full flex flex-col items-center gap-10 mt-10">
    <div class="w-full flex flex-col items-center">
      <h2 class="font-bold text-3xl text-center capitalize">latest articles</h2>
      <p class="text-sm text-slate w-2/3 text-center">
        {% lorem 16 w %}
      </p>
    </div>
    <div class="w-full grid gap-4 grid-cols-[repeat(auto-fit,minmax(16rem,1fr))] px-[7%] justify-center content-center items-center">
      <!-- blog post card -->
      {% for blog in blogs %}
        {% include 'cards/blog.html' with blog=blog %}
      {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="mx-auto">
      {% if blogs.has_previous %}
        <a href="?page=1" class="text-orange-600">&laquo; First</a>
        <a href="?page={{ blogs.previous_page_number }}" class="text-orange-600">&lsaquo; Previous</a>
      {% endif %}

      <span class="mx-2">Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}</span>

      {% if blogs.has_next %}
        <a href="?page={{ blogs.next_page_number }}" class="text-orange-600">Next &rsaquo;</a>
        <a href="?page={{ blogs.paginator.num_pages }}" class="text-orange-600">Last &raquo;</a>
      {% endif %}
    </div>
  </section>
{% endblock %}
