{% extends 'landing.html' %}
{% load static %}

{% block content %}
  <section class="w-full min-h-60 flex flex-col items-center justify-center aspect-[2.5] mb-3 relative bg-black">
    <img src="{% static 'images/WhatsApp Image 2024-07-04 at 2.57.28 PM.jpeg' %}" alt="" class="absolute top-0 left-0 w-full h-full object-cover brightness-50" />

    <div class="flex flex-col gap-5 text-white items-center justify-center z-10">
      <h2 class="text-3xl md:text-6xl capitalize">our students</h2>
      <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur voluptas inventore eos esse. Ex.</p>
    </div>
  </section>

  <section class="w-full flex flex-col items-center gap-6 px-[5%] mb-4">
    <h2 class="text-3xl md:text-5xl capitalize text-center text-orange-600 mb-3 leading-tight font-bold">quick facts</h2>

    <div class="w-full gap-5 flex flex-wrap items-center justify-center">
      <div class="flex flex-col items-center justify-center gap-4 p-4 basis-80">
        <span class="text-xl md:text-3xl font-bold text-orange-300">30</span>
        <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio reiciendis accusantium autem sapiente illum!</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-4 p-4 basis-80">
        <span class="text-xl md:text-3xl font-bold text-orange-300">30</span>
        <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio reiciendis accusantium autem sapiente illum!</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-4 p-4 basis-80">
        <span class="text-xl md:text-3xl font-bold text-orange-300">30</span>
        <p class="text-sm text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio reiciendis accusantium autem sapiente illum!</p>
      </div>
    </div>
  </section>

  <section class="w-full flex flex-col items-center gap-6 px-[5%]">
    <h2 class="text-3xl md:text-5xl capitalize text-center text-orange-600 mb-3 leading-tight font-bold">meet our students</h2>

    <p class="text-sm md:text-base my-4 text-center w-full md:w-5/6">Our students are smart. They purpose driven and change makers. They are courageous and are representative of Nigerian Young Leaders Initiative's socio-cultural diversity. Take the time to meet some of them below.</p>

    <div class="w-full grid gap-8 gap-y-24 grid-cols-[repeat(auto-fill,minmax(12rem,1fr))] mb-10 px-[5%]">
      {% for student in students %}
        <div class="aspect-[0.7] bg-gray-400 rounded-md relative flex items-end justify-center">
          <img src="{{ student.image.url }}" alt="" loading="lazy" class="absolute w-full h-full object-cover rounded-md" />
          <div class="flex flex-col items-center justify-center absolute shadow-md gap-4 p-4 px-2 bg-white w-5/6 border-2 border-orange-800 translate-y-1/2 capitalize z-10">
            <h3 class="leading-4 text-sm text-center font-semibold">{{ student.name }}</h3>
            <h4 class="leading-4 text-xs text-center font-semibold">{{ student.program }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
